extends layout

block content
  #wrapper

  h2.mt-4 Colleges List
  #collegeList.mt-3
    table#colleges_table.table.table-striped.table-bordered
      thead
        th Code
        th Name
      tbody

block script
  script(src='/javascripts/global.js')
