doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta(property='description' content='TNEA 2023 College List, TNEA 2023 Cutoff calculator, Colleges Ranked By 2022 Cutoff, Top Engineering Colleges in Tamil Nadu 2023, Anna University College Rank List 2023')
    meta(property='og:title' content=title)
    meta(property='og:description' content='TNEA 2023 College List, TNEA 2023 Cutoff calculator, Colleges Ranked By 2022 Cutoff, Top Engineering Colleges in Tamil Nadu 2023, Anna University College Rank List 2023')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://navirlabs.com/')
    meta(property='og:image' content='https://dummyimage.com/1200/007bff/ffffff&text=TNEA+2023')
    meta(name='twitter:card' content='summary')

    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(rel='icon' type='image/png' href='images/tn_logo.png')
    link(href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="//cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css", rel="stylesheet")
  body
    nav.navbar.bg-primary.navbar-dark.navbar-expand-sm
      // Brand and toggle get grouped for better mobile display
      a.navbar-brand(href='/') TNEA 2023
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar', aria-expanded='false')
        span.navbar-toggler-icon
      // Collect the nav links, forms, and other content for toggling
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Colleges
          li.nav-item
            a.nav-link(href='/search') Ranked by Cutoff
          li.nav-item
            a.nav-link(href='/rank') Rank List
          li.nav-item
            a.nav-link(href='/calculator') Cutoff Calculator
    .container
      block content
    script(src='//code.jquery.com/jquery-3.3.1.min.js')
    script(src='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js')
    block script
